{% extends 'master.html' %}


{% block title %}
    Detail
{% endblock %}
{% block body %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_delete' post.pk %}" class="btn btn-danger mb-2">Delete Post</a>
        <a href="{% url 'home:post_update' post.pk %}" class="btn btn-info mb-2">Update Post</a>
    {% endif %}

    <p>Autor: <a href="{% url 'account:user_profile' post.user.id %}" class="mr-1"> {{ post.user.username }}</a>
        Created at :{{ post.updated|date:"Y-M-D" }}</p>
    <p>{{ post.body }}</p>
    <hr>
    
    {% for com in comment %}
        <div class="card bg-dark text-white">
            <p class="card-header">
                {{ com.user }} - {{ com.created|timesince }}
            </p>
            <p class="card-body">
                {{ com.body }}
            </p>
            {% empty %}
            <p class="card-body">No comment yet!</p>
        </div>
    {% endfor %}


    <a href="{% url  'home:home' %}">Back To Home</a>
{% endblock %}
