{% extends 'master.html' %}


{% block title %}
    Detail
{% endblock %}
{% block body %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_delete' post.pk %}" class="btn btn-danger mb-2">Delete Post</a>
        <a href="{% url 'home:post_update' post.pk %}" class="btn btn-info mb-2">Update Post</a>
    {% endif %}

    <p>Autor: <a href="{% url 'account:user_profile' post.user.id %}" class="mr-1"> {{ post.user.username }}</a>
        Created at :{{ post.updated|date:"Y-M-D" }}</p>
    <p>{{ post.body }}</p>
    <hr>
    {% if request.user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="m-3 btn btn-info" type="submit" value="Comment">
        </form>
    {% else %}
        <p class="alert alert-danger">Only Logged-in users can comment.</p>
    {% endif %}
    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">
                {{ comment.user }} - {{ comment.created|timesince }}
            </p>
            <p class="card-body">
                {{ comment.body }}
                {% if request.user.is_authenticated %}
                    <form action="{% url 'home:add_reply' post.id comment.id %}" method="post" style="display: none">
                        {% csrf_token %}
                        {{ replay_form.as_p }}
                        <input type="submit" value="Reply" class="btn btn-info">
                    </form>
                {% endif %}

            {% with replies=comment.replies_comments.all %}
                {% for reply in  replies %}
                    <div>
                        <br>
                        <p class="bg-primary p-3 m-2 rounded"> {{ reply.user }}<br>
                            {{ reply.body }}</p>
                    </div>

                {% endfor %}
            {% endwith %}


            {% empty %}
            <p class="card-body">No comment yet!</p>
        </div>
    {% endfor %}


{% endblock %}
